
  <h1 id="intro1">Welcome to twitter!</h1>

<h2 id="message" style="color:<%=session[:color]%>"> <%= session[:message] %> </h2>

<h3 id="intro2">Escribe tu nuevo tweet: </h3>

<div id="spinner" class="spinner" >
    <img id="img-spinner" src="spinner.gif" alt="Loading"/>
</div>

<% if !session[:name] %>

<form id="form_sign_in" method="get" action="/sign_in"> 
  <center><input id="submit_button" type="submit" value="Sign In!"></center>
</form>
<br>
<br>

<% else %>

<form id="form_tweet" method="post" action="/tweet"> 
  <center><input id="tweet_text" name="tweet_text" type="text" placeholder="Tweet"><br>
    <br>
  <input id="submit_button" type="submit" value="Tweet!"></center>
</form>
<br>
<br>
<div id ="info_tweets"></div>
<h3 id="intro3">Dame el twitter a buscar: </h3>

<form id="form"method="post" action="/fetch"> 
  <center><input id="handle_text" name="handle" type="text" placeholder="Twitter"><br>
    <br>
  <input id="submit_button" type="submit" value="Handler!"></center>
</form>

<form id="form_logout" method="get" action="/sign_out"> 
  <center><input id="submit_button_logout" type="submit" value="Log out!"></center>
</form>

<form id="form_exit" method="get" action="/"> 
  <center><input id="submit_button_exit" type="submit" value="Salir!"></center>
</form>

<% end %>
