.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted white;
}
th {
  text-align: left;
}

#header {

  height: 200px;
  background-color: #4da6ff;

}

#logo {
  position: relative;
  margin-top: 50px;

}

#handle_text {

  line-height: normal;
  height: 70px;
  width: 220px;
  font-size: 2em;

}

#tweet_text {

  line-height: normal;
  height: 70px;
  width: 520px;
  font-size: 2em;

}

#submit_button {

  height: 90px;
  width: 150px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px 5px #888888;
  font-size: 2em;
  color: white;
  background-color: #0073e6;

}


#submit_button_logout {

  height: 90px;
  width: 150px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px 5px #888888;
  font-size: 2em;
  color: white;
  background-color: #0073e6;
  margin-top: 90px;
  float: right;

}

#submit_button_exit {

  height: 90px;
  width: 150px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px 5px #888888;
  font-size: 2em;
  color: white;
  background-color: #0073e6;

}

.spinner {
    position: absolute;
    width: 30px; 
    height: 30px;
    display: block; 
    margin: 0 auto; 
    width: 100px; 
    visibility: hidden;
}





#submit_button:hover {

  background-color: #66b3ff;

}


#content_tweet {

  font-size: 1.5em;

}